.app-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  height: 100vh;
}

.content-area {
  margin-left: 250px;
  flex: 1;
  overflow-y: auto;
  background-color: #f8f9fa;
  height: 100vh;
}

/* Адаптивность */
@media (max-width: 768px) {
  .content-area {
    margin-left: 200px;
  }
}

@media (max-width: 576px) {
  .content-area {
    margin-left: 60px;
  }
}
