.nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list>li {
  position: relative;
}

.nav-list>li>a {
  text-decoration: none;
  color: var(--color-indigo-500);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 5px 0;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.nav-list li>a:hover {
  color: rgb(48, 63, 159);
}

.nav-list li>a.active {
  color: rgb(48, 63, 159);
  font-weight: 600;
}

.nav-list>li>a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(48, 63, 159);
  transition: width 0.3s ease;
}

.nav-list>li>a:hover::after {
  width: 100%;
}

.nav-list>li>a.active::after {
  width: 100%;
  background-color: rgb(48, 63, 159);
}
